a {
    color: inherit;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: #ddd;

    a {
        margin: 0 10px;
        padding: 0 10px;
    }

    // should be replaced with shopping cart icon
    button {
        margin-left: auto;
    }
}

.footer {
    display: flex;
    background-color: #ddd;
}

.products-listing {
    display: flex;
}

.product-container {
    display: flex;

    .right-side {
        // h1 is the title
        display: flex;
        flex-direction: column;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
}

.shopping-cart {
    background-color: aliceblue;
    padding: 20px;
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 0;
}